<app-side-nav></app-side-nav>
<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="card-header">
        <span class="icon user-defined-icon">
          <mat-icon>savings</mat-icon> <!-- SIP Icon -->
        </span>
        <h2>SIP Calculator</h2>
      </div>
      <hr>
      <div class="SIP">
        <p>Plan Your Systematic Investments for Future Growth</p>
      </div>
      <button class="button" (click)="SIPCalculator()">Calculate</button>
    </div>
  </div>
</div>
