<div class="container">
  <div class="scrollable-content">
    <app-spending-categories-labels
  [categoriesData]="categoriesData"
  [trendData]="trendData"
  (categoryClicked)="onCategoryClick($event)"
  (trendClicked)="onTrendClick($event)">
</app-spending-categories-labels>

</div>
  <div class="sticky-timeline">
    <app-spending-timeline [timelineOptions]="timelineOptions"
                           [selectedTimeline]="selectedTimeline"
                           (timelineChange)="onTimelineChange($event)">
    </app-spending-timeline>
  </div>
</div>

    <!-- Popup for displaying detailed data -->
    <app-data-popup
    *ngIf="showPopup"
    [data]="popupData"
    [displayedColumns]="displayedColumns"
    (close)="closePopup()">
  </app-data-popup>
