<app-side-nav></app-side-nav>
<div class="container">
    <div class="card-container">
        <!-- Income Card -->

        <div class="card">
          <div class="card-header">
            <span class="icon accounts-icon"><mat-icon>account_balance</mat-icon></span>
            <h2>Accounts</h2>
          </div>
          <hr>
          <div class="account-details">
            <div class="account-item">
              <h3>Savings Account</h3>
              <p>{{ savingsAccountBalance | currency }}</p>
            </div>
            <div class="account-item">
              <h3>Checking Account</h3>
              <p>{{ checkingAccountBalance | currency }}</p>
            </div>
            <div class="account-item">
              <h3>Investment Account</h3>
              <p>{{ investmentAccountBalance | currency }}</p>
            </div>
          </div>
          <button class="button" (click)="onAccount()">View</button>
        </div>

        <div class="card">
            <div class="card-header">
                <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
                <h2>Income</h2>
            </div>
            <hr>
            <div class="income-details">
                <div class="month">
                    <h3>Last Few Months</h3>
                    <ul>
                        <li *ngFor="let monthIncome of lastMonthsIncome">{{ monthIncome }}</li>
                    </ul>
                </div>
                <div class="month">
                    <h3>Current Month</h3>
                    <p>{{ currentMonthIncome }}</p>
                </div>
                <button class="button" (click)="onIncome()">View</button> 
            </div>
        </div>

        <!-- Expense Card -->   
        <div class="card">
            <div class="card-header">
              <span class="icon expense-icon"><mat-icon>money_off</mat-icon></span>
              <h2>Expense</h2>
            </div>
            <hr>
            <div class="income-details">
              <div class="month">
                <h3>Last Few Months</h3>
                <ul>
                  <li *ngFor="let monthExpense of lastMonthsExpense">{{ monthExpense }}</li>
                </ul>
              </div>
              <div class="month">
                <h3>Current Month</h3>
                <p>{{ currentMonthExpense }}</p>
              </div>
            </div>
            <button class="button" (click)="onExpense()">View</button> 
        </div>

        <!-- To DO Trans -->
        <div class="card">
            <div class="card-header">
              <span class="icon todo-icon"><mat-icon>assignment</mat-icon></span>
              <h2>To Do Transactions</h2>
            </div>
            <hr>
            <ul>
              <li *ngFor="let item of todoTransactions">
                <span class="transaction-status">
                  <mat-icon>hourglass_empty</mat-icon>
                </span>
                <span class="transaction-details">{{ item.description }}</span>
              </li>
            </ul>
            <button class="button" (click)="onTodo()">View</button> 
          </div>
        <!-- Total -->

        <div class="card">
            <div class="card-header">
              <span class="icon total-icon"><mat-icon>timeline</mat-icon></span>
              <h2>Total Income</h2>
            </div>
            <hr>
            <div class="total-details">
              <div class="total-item">
                <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
                <h3>Current Month Income</h3>
                <p>{{ totalCurrentMonthIncome | currency }}</p>
              </div>
              <div class="total-item">
                <span class="icon expense-icon"><mat-icon>money_off</mat-icon></span>
                <h3>Current Month Expense</h3>
                <p>{{ totalCurrentMonthExpense | currency }}</p>
              </div>
              <hr class="total-line">
              <div class="total-item">
                <span class="icon trans-icon"><mat-icon>account_balance_wallet</mat-icon></span>
                <h3>Current Month Savings</h3>
                <p>{{ currentMonthSavings | currency }}</p>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header">
                <span class="icon user-defined-icon"><mat-icon>list</mat-icon></span>
                <h2>User Defined List</h2>
            </div>
            <hr>
            <div class="list-details">
                <p>Create and manage custom lists like Expense Types, Income Types, etc.</p>
            </div>
            <button class="button" (click)="onUserDefinedList()">Manage Lists</button> 
        </div>

        <div class="card">
          <div class="card-header">
            <span class="icon user-defined-icon">
              <mat-icon>trending_up</mat-icon> <!-- Investment Icon -->
            </span>
            <h2>Investment</h2>
          </div>
          <hr>
          <div class="Investment">
            <p>Navigate Your Financial Journey with Smart Investments</p>
          </div>
          <button class="button" (click)="onInvestment()">Invest</button>
        </div>


        <div class="card">
          <div class="card-header">
            <span class="icon user-defined-icon">
              <mat-icon>budget</mat-icon> <!-- Investment Icon -->
            </span>
            <h2>Budget</h2>
          </div>
          <hr>
          <div class="Budget">
            <p>Add Your Budget</p>
          </div>
          <button class="button" (click)="onBudget()">Invest</button>
        </div>
    </div>
</div>