<mat-card>
  <mat-card-title>Expense Management</mat-card-title>
  <mat-tab-group [(selectedIndex)]="currentTab">
    <mat-tab label="Add Expense">
      <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="expense-form">
        <mat-form-field appearance="fill">
          <mat-label>Select Account</mat-label>
          <mat-select formControlName="account"> <!-- Updated to Select Account -->
            <mat-option *ngFor="let account of accounts" [value]="account">{{ account.accountName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expense Type</mat-label>
          <input matInput formControlName="expenseType" placeholder="Enter Expense Type">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expense Amount</mat-label>
          <input matInput formControlName="expenseAmount" placeholder="Enter Expense Amount">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date & Time</mat-label>
          <mat-select (selectionChange)="onDateOptionChange($event.value)">
            <mat-option *ngFor="let option of dateOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="expenseDate" placeholder="Select Date & Time">
          <ngx-mat-datepicker-toggle matSuffix [for]="picker"></ngx-mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add Expense</button>
      </form>
    </mat-tab>
    <mat-tab label="Expense Transactions">
      <app-reusable-table
        [columns]="displayedColumns" 
        [data]="transformedAccountsList"
        (edit)="onEdit($event)"
        (delete)="onDelete($event.id)">
      </app-reusable-table>
    </mat-tab>
    <mat-tab label="Edit Expense">
      <form [formGroup]="editForm" (ngSubmit)="onSaveEdit()" class="edit-form">
        <mat-form-field appearance="fill">
          <mat-label>Select Account</mat-label>
          <mat-select formControlName="account"> <!-- Updated to Select Account -->
            <mat-option *ngFor="let account of accounts" [value]="account">{{ account.accountName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expense Type</mat-label>
          <input matInput formControlName="expenseType" placeholder="Enter Expense Type">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Expense Amount</mat-label>
          <input matInput formControlName="expenseAmount" placeholder="Enter Expense Amount">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Date & Time</mat-label>
          <input matInput [ngxMatDatetimePicker]="pickerEdit" formControlName="expenseDate" placeholder="Select Date & Time">
          <ngx-mat-datepicker-toggle matSuffix [for]="pickerEdit"></ngx-mat-datepicker-toggle>
          <ngx-mat-datetime-picker #pickerEdit></ngx-mat-datetime-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button color="warn" (click)="cancelEdit()">Cancel</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
